<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FCA Refugee Support Program</title>
<link rel="stylesheet" href="/style.css">

</head>

<body>

<!-- Logo inside circle -->
<div class="logo-circle">
    <img src="/imgs/Fca-logo.png" alt="FCA Logo" class="logo">
</div>

<!-- Title -->
<div class="program-title">
Refugee Support Program
</div>

<!-- Register Button -->
<a href="/register">
<button class="register-btn">Register</button>
</a>

</body>
</html>